/* laptop display media query */
@media (min-width: 768px) and (max-width:1024) {
  body {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 400px;
    grid-template-rows: 200px 800px 200px;
    column-gap: 20px;
    padding: 0 20px;
   
  }
  

  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header header"
    "content content"
    "contact powerpoint"
    "footer footer"
  }
  nav ul {
    display: flex ;
    justify-content: space-between;
  }

}
/* mobile phone display media query */ 
@media (min-width: 320px) and (max-width: 480) {

  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 200px;
    grid-template-rows: 100px 400px 100px;
    column-gap: 20px;
    padding: 0 20px;
   
  }
  nav {
    display: flex
  }
  header {
    display: grid;
    padding: grid; 
    text-align: center;
    font-size: small;
  }
  h1{
    text-align: center;
    font-size: 20px;
  }

  main {
    text-align: center;
    font-size: 15px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    height: 200px;

  }
}
/* all devices image change */ 
@media all and (min-width: 600px) and (max-width: 1080px)
{ img { width: 100%;
height: 100%}
  
}
.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "contact"
    "powerpoint"
    "footer"

}
/* top of page */ 
header {
  background-image: url(../images/lisa_schooling_chinese_characters.png);
  height: 100%;
  padding: 60px;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: left;
  grid-column: 1 / -1;
  background-color: rgba(0, 0.338, 0, 0);
  position: absolute;
  left: -10px;
  width: 100px;
  height: 120px;
  margin-left: 20px;
}

.main-head {
  grid-area: header;
}

/*navigation bar */
nav {
  font-size: small; 
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

/*navigation words*/

a {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  width: 5%;
  height: auto;
}

/*Lisa Schooling*/
h1 {
  font-size: 60px;
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*about section*/
main {
  background: grey;
  padding: 0%;
  grid-area: main;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 400px;
}
.content {
  grid-area: content;
}
/*about words*/
h2 {

  font-size: 30;
  color: rgb(198, 198, 198);
  font-family: Arial, Helvetica, sans-serif;
}

/*contact*/
section {
  padding-top: 5px;
  height: 100%;
  width: 100%;
  text-align: center;
} 

.side {
  grid-area: contact; 
}

/*Click here to Fill Out Order Form*/
h3{
  font-size: 30;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
/*powerpoint*/

.google-slides-container{
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.google-slides-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.powerpoint {
  display: flex;
  padding: 200px;
  min-height: 600px;
  margin-bottom: 20px;
  gap: 10px;
}

.google-slides-container {
  grid-area: powerpoint; 
}
/*footer words*/
p {
  padding-bottom: 0%;
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.728);
  padding-top: 50px;
  padding-bottom: 50px;
}

footer p {
  font-size: 10px;
  text-align: center;
  color: rgb(198, 198, 198);
}

.main-footer{
  grid-area: footer; 
}